.isDisabled {
  color: currentColor !important;
  cursor: not-allowed !important;
  opacity: 0.5 !important;
  text-decoration: none !important;
}

.selectedSize {
  color: #04d39f !important;
  font-size: 210%;
  font-weight: bold;
}

.normalSize {
  font-size: 120% !important;
}
